.places-list {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: min-content auto auto min-content;
  column-gap: calc(var(--size) * 0.5);

  font-size: calc(var(--size) * 0.8);
}

.places-list__place {
  grid-column: 1 / span 4;
  grid-row: span 1;

  display: grid;
  grid-template-columns: subgrid;
  border-bottom: 1px solid var(--color-border);
}

.places-list__place-cell {
  padding: calc(var(--size) * 0.5);
}

.places-list__place-cell-name:hover {
  text-decoration: underline;
  cursor: pointer;
}

.places-list__place-cell-id {
  text-align: right;
}

.places-list__place:hover {
  background: var(--color-surface);
}

.places-create {
  padding: var(--size);
  grid-column: 1 / span 4;
}
