@layer components {
  .stack {
    display: flex;
  }

  .stack--column {
    flex-direction: column;
  }

  .stack--row {
    flex-direction: row;
  }

  .stack--gap-small {
    gap: calc(var(--size) * 0.5);
  }

  .stack--gap-medium {
    gap: calc(var(--size) * 1);
  }

  .stack--gap-large {
    gap: calc(var(--size) * 1.5);
  }
}

